#main-container {
    margin-top: 50px;
    min-height: 350px;
}

#top-messages, #login-form,  #report-form {
    margin-top: 50px;
}

textarea.form-control {
    resize: vertical;
}

.panel-title {
    padding-bottom: 8px;
}

.validated .messages {
    font-size: 80%;
    font-style: italic;
}

.validated .messages.success {
    color: darkgreen;
}

.validated .messages.error {
    color: #a94442;
}

.required > .control-label::before {
    content: "*";
    color: #a94442;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}